extends ../layout

block content
    div(
        class = "ui container segment"
    )
        h1(
            class = "ui centered header"
        ) View Other Properties
        table(
            class = "ui celled striped sortable table",
            id    = "table"
        )
            tr(
                data-sort-method = 'none'
            )
                th(
                    align = "center"
                ) Name
                th(
                    align = "center"
                ) Address
                th(
                    align = "center"
                ) City
                th(
                    align = "center"
                ) Zip
                th(
                    align = "center"
                ) Size
                th(
                    align = "center"
                ) Type
                th(
                    align = "center"
                ) Public
                th(
                    align = "center"
                ) Commercial
                th(
                    align = "center"
                ) ID
                th(
                    align = "center"
                ) Verified?
                th(
                    align = "center"
                ) Avg. Rating
                th(
                    align = "center"
                ) Actions
            each result in results
                tr()
                    td(
                        style = "text-align:center;"
                    ) #{result.Name}
                    td(
                        style = "text-align:center;"
                    ) #{result.Street}
                    td(
                        style = "text-align:center;"
                    ) #{result.City}
                    td(
                        style = "text-align:center;"
                    ) #{result.Zip}
                    td(
                        style = "text-align:center;"
                    ) #{result.Size}
                    td(
                        style = "text-align:center;"
                    ) #{result.PropertyType}
                    if result.IsPublic
                        td(
                            style = "text-align:center;"
                        ) True
                    else
                        td(
                            style = "text-align:center;"
                        ) False
                    if result.IsCommercial
                        td(
                            style = "text-align:center;"
                        ) True
                    else
                        td(
                            style = "text-align:center;"
                        ) False
                    td(
                        style = "text-align:center;"
                    ) #{result.ID}
                    if result.ApprovedBy
                        td(
                            style = "text-align:center;"
                        ) True
                    else
                        td(
                            style = "text-align:center;"
                        ) False
                    if result.Rating
                        td(
                            style = "text-align:center;"
                        ) #{result.Rating}
                    else
                        td(
                            style = "text-align:center;"
                        ) Not Applicable
                    td(
                        style = "text-align:center;"
                    )
                        a(
                            class = 'ui primary fluid button',
                            href  = "/owner/other_property/" + result.ID
                        ) Show
        div(
            class = 'ui fluid search'
        )
            div(
                class = 'ui icon input'
            )
                input(
                    class      = 'prompt',
                    type       = 'text',
                    placehoder = 'Search properties...'
                )
                i(
                    class = 'search icon'
                )
            div(
                class = 'results'
            )
        br()
        a(
            class = "ui red fluid button",
            href  = "/owner"
        ) Back
        script.
            $('.ui.search').search({source:[#{search}], searchFields:['Name'],searchFullText:false,fields:{title:'Name',description:'',url:'ID'},minCharacters:3,onSelect(result,response){window.location.href = '/owner/other_property/'+result.ID}});
