extends ../layout

block content
    div(
        class = "ui container segment"
    )
        h1(
            class = "ui centered header"
        ) Unconfirmed Properties
        table(
            class = "ui celled striped sortable table",
            id    = "table"
        )
            tr(
                data-sort-method = 'none'
            )
                th(
                    align = "center"
                ) Name
                th(
                    align = "center"
                ) Address
                th(
                    align = "center"
                ) City
                th(
                    align = "center"
                ) Zip
                th(
                    align = "center"
                ) Size
                th(
                    align = "center"
                ) Type
                th(
                    align = "center"
                ) Public
                th(
                    align = "center"
                ) Commercial
                th(
                    align = "center"
                ) ID
                th(
                    align = "center"
                ) Owner
                th(
                    align = "center"
                ) Actions
            each result in results
                tr()
                    td(
                        style = "text-align:center;"
                    ) #{result.Name}
                    td(
                        style = "text-align:center;"
                    ) #{result.Street}
                    td(
                        style = "text-align:center;"
                    ) #{result.City}
                    td(
                        style = "text-align:center;"
                    ) #{result.Zip}
                    td(
                        style = "text-align:center;"
                    ) #{result.Size}
                    td(
                        style = "text-align:center;"
                    ) #{result.PropertyType}
                    if result.IsPublic
                        td(
                            style = "text-align:center;"
                        ) True
                    else
                        td(
                            style = "text-align:center;"
                        ) False
                    if result.IsCommercial
                        td(
                            style = "text-align:center;"
                        ) True
                    else
                        td(
                            style = "text-align:center;"
                        ) False
                    td(
                        style = "text-align:center;"
                    ) #{result.ID}
                    td(
                        style = "text-align:center;"
                    ) #{result.Owner}
                    td(
                        style = "text-align:center;"
                    )
                        a(
                            class = 'ui primary fluid button',
                            href  = "/admin/property/" + result.ID
                        ) Manage
