doctype html
html
    head
        link(
            rel='stylesheet',
            type='text/css',
            href='/semantic/dist/semantic.min.css'
        )
        script(
            src="https://code.jquery.com/jquery-3.1.1.min.js",
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",
            crossorigin="anonymous"
        )
        script(
            src="/semantic/dist/semantic.min.js"
        )
        script(
            src="/tablesort/dist/tablesort.min.js"
        )
    div(class='ui stackable menu')
        div(
            class = 'ui container'
        )
            if session.user_type != null
                if session.user_type == 'VISITOR'
                    a(
                        href  = '/visitor',
                        class = 'item'
                    ) Home
                if session.user_type == 'OWNER'
                    if destroy
                        a(
                            href  = '/owner/?destroy=true',
                            class = 'item'
                        ) Home
                    else
                        a(
                            href  = '/owner',
                            class = 'item'
                        ) Home
                if session.user_type == 'ADMIN'
                    a(
                        href  = '/admin',
                        class = 'item'
                    ) Home
            else
                a(
                    href  = '/',
                    class = 'item'
                ) Home
        div(
            class = 'right menu'
        )
            if session.user_type != null
                div(
                    class = 'item'
                    ) #{session.user_type}
                div(
                    class = 'item'
                    ) #{session.user_name}
    section(
        style = "padding : 30px  0px; min-height: 87%;",
        id    = "main"
    )
        body
            block content
    footer
        script.
            if(document.getElementById('table'))
            {
                new Tablesort(document.getElementById('table'));
            }
        div(
            class = "ui black inverted vertical footer segment"
        )
            div(
                class = "ui center aligned container"
            )
                div(
                    class = "seven wide column"
                ) Site designed and built by Will Mitchell, Caroline Balmer,
                Chelsea Thompson, Chris Larkins, and Nick Williams
